body {
    width: 600px;
    border: rgb(0, 0, 0) 3px solid;
    padding: 20px;
    margin: 30px;
    background:rgb(228, 231, 235);
}

input[type="number"] {
    border: rgb(0, 0, 0) 2px solid;
    text-indent: 5px;
    width: 500px;
    height: 50px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="checkbox"] {
    border: rgb(0, 0, 0) 2px solid;
    width: 80px;
    height: 20px;
    text-align: left;
}

input[type="submit"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#math_Results {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: 2px 2px 1px rgb(187, 184, 184);
}